---
---

@import url(monokai.css);
@import url(normalize.min.css);

body {
  background-color: #f6f9fd;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23e6e9ed' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a:link {
  color: #0645ad;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a:active {
  color: #faa700;
}

a:visited {
  color: #0b0080;
}

h2, h3, h4, h5, h6 {
  color: black;
  background: none;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding-top: .5rem;
  padding-bottom: .17rem;
  border-bottom: 1px solid #aaa;
}

h2 {
  font-size: 150%;
}

h3, h4, h5, h6 {
  border-bottom: none;
  font-weight: bold;
}

h3 {
  font-size: 128%;
}

h4 {
  font-size: 116%;
}

h5 {
  font-size: 108%;
}

h6 {
  font-size: 100%;
}

h2 {
  margin-bottom: .6rem;
}

h3, h4, h5 {
  margin-bottom: .3rem;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
}

table, th, td {
  border: 1px solid #aaa;
  padding: .2rem;
}

p {
  text-align: justify;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 2rem;
  background-color: #ffffff;

/* ONLY WHEN USING SIDEBAR
  margin-right: 1rem;
  margin-left: 0;
*/
}

#header {
  background: #4079A4 url(/assets/header-bg.jpg) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 -10px 40px -5px rgba(0, 0, 0, .75);
  padding: 2.25rem 0 3rem;
  width: 100%;
  text-align: center;
}

#logo a {
  color: #F6F6F6;
  font-family: "GFS Didot", sans-serif;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: 6px;
  line-height: 1;
  text-decoration: none;
  text-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .8);
  text-transform: lowercase;
}

#logo a:hover {
  text-shadow: .25rem .25rem .5rem rgba(0, 0, 0, 1);
}

#motto {
  font-size: 1.25rem;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  margin-top: .5em;
  color: rgba(255, 255, 255, 1);
  text-shadow: .25rem .25rem .5rem rgba(0, 0, 0, .8);
}

section {
  width: 64em;
  margin: 0 auto;
}

h1 {
  color: black;
  background: none;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding-top: .5rem;
  padding-bottom: .17rem;
  text-align: center;
}

h1 ~ p {
  font-size: 1.25rem;
}

#markdown-toc ~ p {
  font-size: 1rem;
}

#markdown-toc::before {
  content: "Περιεχόμενα";
  font-weight: bold;
}

#markdown-toc ul {
  list-style: decimal;
}

#markdown-toc {
  border: 1px solid #aaa;
  padding: 1.5rem;
  padding-left: 2rem;
  margin-right: 2rem;
  list-style: decimal;
  display: table;
  display: inline-block;
  max-width: 30rem;
  font-size: 12px;
  background-color: #f9f9f9;
  line-height: 1.8;
}

code.highlighter-rouge {
  border: 1px solid #dddddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  padding: 2px 4px 0px;
  font-size: 0.9rem;
}

#sidebar {
  border: 1px solid #ccc;
  padding: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: table;
  display: inline-block;
  max-width: 10rem;
  font-size: 12px;
  background-color: #ffffff;
  line-height: 1.5;
  float: left;

  display: none; // CHANGE THIS TO ADD SIDEBAR
}

#sidebar::before {
  content: "Πλοήγηση";
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}
