{% if page.comments %}
<h2 class="d-print-none">Σχόλια</h2>
<div id="disqus_thread" class="d-print-none"></div>

<script>
var disqus_config = function () {
    this.page.url = "https://kallinikos.github.io{{ page.url }}";
    this.page.identifier = "{{ page.url }}";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//kallinikos-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
